.page-header
  %h1 Viewing All Texts...

%ul.list-group
  - @texts.each do |txt|
    - if txt.from == @my_number
      %li.list-group-item.outbound= txt.body
    - else
      %li.list-group-item.inbound= txt.body